fastapi
uvicorn[standard]
jinja2
sqlalchemy
alembic
psycopg[binary]
python-multipart
passlib[bcrypt]
argon2-cffi
pydantic-settings
email-validator
openai
redis
python-dotenv
itsdangerous
pymysql
cryptography
psycopg2
